@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Rubik', serif;


}

.app { 
  display: felx;
  position: relative;
}


::-webkit-scrollbar {
  width: 10px;

}

/* Track */

::-webkit-scrollbar-track { 
  background: #e0e0e0;

}

/*Handle*/
::-webkit-scrollbar-thumb{
  background: #888;
}

/*Handle on hover */
::-webkit-scrollbar-track:hover { 
  background: #555;
}